html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.d-none {
    display: none !important;
}

.invert {
    filter: invert();
}

.bg-dark {
    background-color: rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(50, 50, 50);
    color: white;
    z-index: 99;
    box-shadow: 0 4px 8px 0px rgb(0 0 0 / 15%);
}

header span {
    font-size: 24px;
    font-weight: 600;
}

header img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    position: absolute;
    right: 10px;
    scale: 1;
    transition: scale 125ms ease-in-out;
}

header img:hover {
    cursor: pointer;
    scale: 1.05;
}

.menu {
    height: 170px;
    width: 150px;
    background-color: rgb(50, 50, 50);
    position: absolute;
    right: 0;
    top: 50px;
    padding: 10px 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: scaleY(1) !important;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 4px 8px 0px rgb(0 0 0 / 15%);
}

.menu-inactive {
    height: 170px;
    width: 150px;
    background-color: rgb(50, 50, 50);
    position: absolute;
    right: 0;
    top: 50px;
    padding: 10px 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 225ms ease-in-out;
}

.menu span {
    font-size: 18px;
    font-weight: 500;
    transform: scale(1);
    transition: transform 125ms ease-in-out;
    margin-left: 5px;
}

.menu span:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.menu img {
    height: 18px;
    width: 18px;
    object-fit: cover;
    border-radius: 50%;
}

.dark-mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 93%;
    height: 30px;
    bottom: 10px;
}

.slider__bar {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: flex-end;
    background-color: #41331C;
    box-shadow: inset 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 7px;
    transition: width 100ms;
}

.slider__bar__active {
    width: 35px;
}

.slider__bar__active .slider {
    background-color: #B3BDBE;
}

.slider {
    width: 14px;
    height: 14px;
    background-color: #54575c;
    border-radius: 50%;
    transition: background-color 100ms;
}

.dark-mode-container button {
    width: 35px;
    background-color: #B3BDBE;
    border-radius: 7.5px;
    position: relative;
    padding: unset;
    transition: 100ms;
    border: none;
}

table {
    height: 450px;
    width: 450px;
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    width: 133px;
    height: 133px;
    border: 8px solid black;
    position: relative;
    cursor: pointer;
}

td:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.shape-circle {
    position: absolute;
    top: 0;
    left: 1px;
}

.shape-cross {
    position: absolute;
    top: 32px;
    left: 30px;
}

#player-1 div {
    height: 30px;
    width: 30px;
    color: black;
    position: absolute;
    right: -33%;
}

#player-1,
#player-2 {
    width: 175px;
}

#player-2 {
    text-align: right;
    justify-content: flex-end;
}

#player-2 div {
    height: 30px;
    width: 30px;
    color: black;
    position: absolute;
    left: -26%;
}

#player-1 span, #player-2 span {
    flex-grow: 1;
    white-space: nowrap;
}

.player-panel {
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 600;
    width: 620px;
    display: flex;
    justify-content: space-around;
    padding: 0 60px;
    margin: 30px 0;
}

.player-panel div {
    display: flex;
    align-items: center;
    position: relative;
}

.player-panel img:first-of-type {
    height: 45px;
    width: 45px;
    margin-right: 10px;
}

.player-panel img:last-of-type {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.player-inactive {
    opacity: 0.5;
}

.line-container {
    margin-top: 95px;
    position: absolute;
    height: 450px;
    width: 450px;
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line {
    position: absolute;
    height: 10px;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    transform-origin: center;
    transition: transform 250ms ease-in-out;
    z-index: 2;
}

.vertical-line {
    position: absolute;
    height: 450px;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transform-origin: center;
    transition: transform 250ms ease-in-out;
    z-index: 2;
}

.diagonal-line {
    position: absolute;
    height: 550px;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transform-origin: center;
    transition: transform 250ms ease-in-out;
    z-index: 2;
}

.restart {
    height: 60px;
    width: 200px;
    font-size: 30px;
    padding: 10px 10px;
    z-index: 3;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 20px;
    position: absolute;
    bottom: 220px;
}

.end-screen {
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-screen div {
    background-color: white;
    height: 250px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-screen div span {
    font-size: 24px;
    font-weight: 600;
}

#win-draw {
    font-size: 24px;
    font-weight: 600;
    gap: 5px;
}






@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}